<!DOCTYPE html>
<html>
<head>
    <!-- Título da página -->
    <title>Conversor de Moeda</title>
</head>
<body>
    <!-- Título principal -->
    <h1>Conversor de Moeda</h1>
    <!-- Formulário para converter moeda -->
    <form method="get" action="{% url 'converter_moeda' %}">
        <!-- Token CSRF para segurança -->
        {% csrf_token %}
        <!-- Renderização do formulário -->
        {{ form.as_p }}
        <!-- Botão para enviar o formulário -->
        <button type="submit">Converter</button>
    </form>
</body>
</html>
